*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }
  body a {
    font-size: inherit; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  80% {
    opacity: .6; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  80% {
    opacity: .6; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.section-main {
  min-height: 60vh;
  position: relative; }
  .section-main__links {
    padding: .5rem 1rem; }
    .section-main__links-github:link, .section-main__links-github:visited {
      font-size: 3.5rem;
      color: #444; }
    .section-main__links-appear {
      opacity: 0;
      visibility: hidden;
      transition: all .3s; }
    .section-main__links:hover .section-main__links-appear {
      opacity: 1;
      visibility: visible; }
  .section-main__heading {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section-main__title {
    font-size: 3.5rem;
    color: #444;
    font-weight: 300; }
    .section-main__title-fewer {
      display: inline-block;
      animation: fromLeft 1.5s ease-out; }
    .section-main__title-greater {
      display: inline-block;
      animation: fromRight 1.5s ease-out; }
  .section-main__intro {
    font-size: 1.3rem;
    display: block;
    line-height: 2; }

.section-intro {
  text-align: center;
  font-size: 1.3rem;
  padding: 10rem 0;
  background-color: #f9f9f9; }

.section-grid {
  text-align: center;
  color: #444;
  padding: 10rem 0;
  font-size: 1.2rem; }
  .section-grid > .container {
    margin-bottom: 1rem;
    line-height: 2; }
    @media (max-width: 37.5em) {
      .section-grid > .container {
        margin-bottom: 0; } }
  .section-grid__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    animation: appear 2s ease-out; }
  .section-grid__paragraph {
    font-size: 1.3rem;
    margin-bottom: 6rem; }
  .section-grid div[class^="col-"] {
    border-radius: 3px;
    text-transform: uppercase; }

.container {
  margin: 0 auto;
  max-width: 114rem;
  width: 100%; }
  @media (max-width: 37.5em) {
    .container {
      padding: 0 2rem; } }

.row {
  background-color: #fff; }
  .row div[class^="col-"] {
    background-color: #eee;
    float: left;
    margin-bottom: 2rem; }
    .row div[class^="col-"]:not(:last-of-type) {
      margin-right: 2rem; }
    @media (max-width: 37.5em) {
      .row div[class^="col-"] {
        width: 100% !important; } }
  .row:last-child div[class^="col-"] {
    margin-bottom: 0; }
    @media (max-width: 37.5em) {
      .row:last-child div[class^="col-"]:nth-last-child(2) {
        margin-bottom: 2rem; } }
  .row .col-1-2 {
    width: calc((100% - 2rem * 1) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2rem * 2) / 3); }
  .row .col-2-3 {
    width: calc(2 * calc((100% - 2rem * 2) / 3)  + (2 - 1) * 2rem); }
  .row .col-1-4 {
    width: calc((100% - 2rem * 3) / 4); }
  .row .col-2-4 {
    width: calc(2 * calc((100% - 2rem * 3) / 4)  + (2 - 1) * 2rem); }
  .row .col-3-4 {
    width: calc(3 * calc((100% - 2rem * 3) / 4)  + (3 - 1) * 2rem); }
  .row .col-offset-1-2 {
    margin-left: calc(calc((100% - 2rem * 1) / 2) + 2rem); }
    @media (max-width: 37.5em) {
      .row .col-offset-1-2 {
        margin-left: 0; } }
  .row .col-offset-1-3 {
    margin-left: calc(calc((100% - 2rem * 2) / 3) + 2rem); }
    @media (max-width: 37.5em) {
      .row .col-offset-1-3 {
        margin-left: 0; } }
  .row .col-offset-2-3 {
    margin-left: calc(calc(2 * calc((100% - 2rem * 2) / 3)  + (2 - 1) * 2rem) + 2rem); }
    @media (max-width: 37.5em) {
      .row .col-offset-2-3 {
        margin-left: 0; } }
  .row .col-offset-1-4 {
    margin-left: calc(calc((100% - 2rem * 3) / 4) + 2rem); }
    @media (max-width: 37.5em) {
      .row .col-offset-1-4 {
        margin-left: 0; } }
  .row .col-offset-2-4 {
    margin-left: calc(calc(2 * calc((100% - 2rem * 3) / 4)  + (2 - 1) * 2rem) + 2rem); }
    @media (max-width: 37.5em) {
      .row .col-offset-2-4 {
        margin-left: 0; } }
  .row .col-offset-3-4 {
    margin-left: calc(calc(3 * calc((100% - 2rem * 3) / 4)  + (3 - 1) * 2rem) + 2rem); }
    @media (max-width: 37.5em) {
      .row .col-offset-3-4 {
        margin-left: 0; } }

.container::after,
.row::after {
  content: "";
  display: table;
  clear: both; }
