// GRID VARS
$grid-gutter-width: 2rem !default;
$grid-gutter-height: 2rem !default;
$container-width: 114rem !default;

//COLOR
$color-light-grey: #f9f9f9;
$color-grey: #eee;
$color-black: #444;

//FONT-SIZE
$font-size-h1: 3.5rem !default;
$font-size-h2: 2.5rem !default;

$font-size-p: 1.3rem !default;

//LINE HEIGHT
$default-line-height: 2 !default;